<nav class="navbar  is-info">
      <div class="navbar-brand">
        <%=link_to root_path, class: "navbar-item" do%>
          <h1 class="title is-5 has-text-white">E-Tracker</h1>
        <% end %>

        <%= link_to 'New Project', new_project_path, class:'navbar-item' %>
        <%= link_to 'New Group', new_group_path, class: 'navbar-item' %>
        <div class="navbar-burger burger" data-target="navbarExample">
        <span class="text-white proxima-bold"> <%= yield(:name) %></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              
              

              <p class="control">
              <%=link_to 'All my External Projects', projects_project_ungrouped_path, class: 'nav-link d-flex justify-content-center bi  bi-cash-stack'%>
              </p>
              <p class="control">
              <%=link_to 'All groups', groups_path, class: 'nav-link d-flex justify-content-center bi bi-collection-fill'%>
              </p>
              <p class="control">
              <%=link_to 'Log out', logout_path, class: 'nav-link d-flex justify-content-center bi bi-box-arrow-left'%>
              </p>
              <p class="control">
              <%=link_to 'All my Projects', projects_path, class: 'nav-link d-flex justify-content-center bi bi-cash'%>
              </p>
              <p class="control">
              <%=link_to 'Edit your profile', edit_user_path(current_user), class:'d-flex justify-content-center nav-link bi bi-pencil-square'%>
              </p>

              
            </div>
          </div>
        </div>
      </div>
      <li class="nav-item d-flex flex-column align-items-center mt-4">
          <div class='user-thumb d-flex justify-content-center'>
            <%=link_to image_tag(current_user.avatar, style:"width:30px; height:30px; border-radius:50%"), user_path(current_user)%>
          </div>
          <div class="username text-white d-flex justify-content-center nav-link p-2 my-3"> <%="Hello #{current_user.name.titlecase} ready to start coding?"%></div>
        </li>
    </nav>
